<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join Page</title>
</head>
<body>
<form action="/register" method="post">

    <label>
        <input name="clientName" placeholder="clientName">
    </label><br>
    <label>
        <input name="redirectUris" placeholder="redirectUris">
    </label><br>
    <label>
        <input name="postLogoutRedirectUris" placeholder="postLogoutRedirectUris">
    </label><br>
    <label>
        <input name="scopes" placeholder="scopes">
    </label>

    <input type="submit" value="Register"/>
</form>
</body>
</html>